<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>商品登録</title> 
  </head> 
  <body> 

    <h1>商品登録</h1>      

    <form action="{% url 'pina-product-entry' %}" method="POST">
    {% csrf_token %}
    
    <tr>
      <th>{{ form.title.label_tag }}　</th>
      <td>{{ form.title }}</td><br />
    </tr>
    <tr>
      <th>{{ form.content.label_tag }}　</th>
      <td>{{ form.content }}</td><br />
    </tr>
    <tr>
      <th>{{ form.price.label_tag }}　</th>
      <td>{{ form.price }}</td><br /> 
    </tr>
 
    <p><input type="submit" value="登録" /></p>
    <p><a href="{% url 'pina-index' %}">TOPへ</a></p>
    </form>
  </body> 
</html>
