<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>商品登録確認</title>
  </head>
  <body>
 
    <h1>商品登録</h1>

    <form action="{% url 'pina-product-entry-confirm' %}" method="POST">
    {% csrf_token %}
    
    <p class="alert">未記入があります。</p>

    <tr>
      <th>{{ form.title.label_tag }}　</th>
      <td>{{ form.title }}</td></br>
    </tr>
    <tr>
      <th>説明:　　</th>
      <td>{{ form.content }}</td></br>
    </tr>
    <tr>
      <th>価格:　　</th>
      <td>{{ form.price }}</td></br>
    </tr>
    
    <p><input type="submit" value="商品登録" /></p>
    </form>
  </body>
</html>

