<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>商品一覧</title>
  </head>
  <body>

    <h1>商品の一覧</h1>

    <h3>▶︎　３０００円未満</h3>
      {% for product in price_lt_3000 %}
      <p class="title"><a href="{% url 'pina-product-detail' product.id %}">{{ product.title }}</a>
      </p>
      <p class="price">{{ product.price }} 円</p>
      {% endfor %}

    <h3>▶︎　３０００円以上</h3>
      {% for product in price_gte_3000 %}
      <p class="title"><a href="{% url 'pina-product-detail' product.id %}">{{ product.title }}</a>
      </p>
      <p class="price">{{ product.price }} 円</p>
      {% endfor %}

      <p><a href="{% url 'pina-product-entry' %}">新規出品</a></p>
      <p><a href="{% url 'pina-index' %}">TOPへ</a></p>
  </body>
</html>
